body {
  background-color: grey;
  margin: 0;
  padding: 0;
}
body > button {
	position: absolute;;
  top: 10px;
  left: 10px;
  height: 42px;
}
button {
  font-size: 0.8em;
}
button:hover {
  cursor: pointer;
}

menu {
  position: absolute;;
  margin: 0;
  left: 67px;
  width: 240px;
  height: 45px;
  border: 1px solid rgb(77, 75, 75);
  border-top: none;
  padding: 8px;
  padding-left: 5px;
  z-index: 1;
  transform: translateY(-100%);
}
.slide-in { animation: slide-in 0.5s forwards; }
.slide-out { animation: slide-out 0.5s forwards; }
@keyframes slide-in {
  100% { transform: translateY(0%); }
}
@keyframes slide-out {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-100%); }
}
menu input {
  margin-top: 3px;
  height: 20px;
  width: 49px;
}
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 5px;
  border-top: 1px solid rgb(108, 105, 105);
  display: flex;
  align-items: center;
}
footer span:first-child {
  flex: 1 1 auto;
  width: 100%;
}
footer span:last-child {
  flex: 1 1 50px;
  margin-left: 5px;
  margin-right: 10px;
  font-size: 0.80em;
}

dialog {
  top: 35%;
  width: 310px;
  border: 1px solid black;
  box-shadow: 0 15px 100px;
  background-color: grey;
  text-align: center;
}
dialog p {
  font-size: 1.2em;
  text-align: center;
  margin: 0px 5px 15px 5px;
}
dialog textarea {
  height: 150px;
  width: 300px;
  background-color: grey;
  font-size: 0.8em;
}
dialog textarea:focus {
  outline: none;
  border-color: Yellow;
  box-shadow: 0 0 5px Yellow;
}
dialog button { margin-top: 8px; }
